/*================Google fonts=======================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&family=Montserrat:wght@300;400;700&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
/*=================Variables=========================*/
:root
{
    --header-height: 4rem;
    /*===========Colores=============*/
    --color-primario: hsl(176,88%,27%);
    --color-primario-alt: hsl(129,44%,94%);
    --color-secundario: hsl(34,94%,87%);
    --color-titulo: hsl(0,0%,13%);
    --color-texto: hsl(176,13%,32%);
    --color-texto-light: hsl(60,1%,56%);
    --color-cuerpo: hsl(0,0%,100%);
    --color-contenedor: hsl(0,0%,93%);
    --color-borde: hsl(129,36%,85%);
    --color-borde-alt: hsl(113,15%,90%);
    /*============Fuentes==============*/
    --fuente-cuerpo: 'Lato', sans-serif;
    --fuente-secundaria: 'Spartan', sans-serif;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.75rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.375rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.6875rem;
    /*===============font-weight=================*/
    --weight-400:400;
    --weight-500:500;
    --weight-600:600;
    --weight-700:700;
    /*================Transition===================*/
    --transition: cubic-bezier(0, 0, 0.05, 1);

}

@media screen and(max-width: 1200px)
{

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input,button,textarea
{
    color: var(--color-texto);
    font-family: var(--fuente-cuerpo);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-400);
}

body
{
    background-color: var(--color-cuerpo);
}
h1,h2,h3,h4
{
    font-family: var(--fuente-secundaria);
    color: var(--color-titulo);
    font-weight: var(--weight-600);
}
ul
{
    list-style: none;
}
a
{
    text-decoration:none;
}
p
{
    line-height: 1.5rem;
}
img
{
    max-width: 100%;
}
button,textarea,input
{
    background-color: transparent;
    border: none;
    outline: none;
}

/*===============Clases reusables===================*/
.form__input
{
    border: 1px solid var(--color-borde-alt);
    padding-inline: 1rem;
    height: 45px;
    border-radius: 0.25rem;
    font-size: var(--small-font-size);
}
.container
{
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: 0.75rem;
}
.grid
{
    display: grid;
    gap: 1.5rem;
}
.section
{
    padding-block: 2rem;
}
.section--lg
{
    padding-block: 4rem;
}
.section__title
{
    font-size: var(--h4-font-size);
    margin-bottom: 1.5rem;
}
.section__title span
{
    color: var(--color-primario);
}
/*=================Header y Nav=========================*/

.header__top
{
    background-color: var(--color-primario-alt);
    border-bottom: 1px solid var(--color-primario);
    padding-block:0.875rem;
}
.header__container
{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header__contact span:first-child
{
    margin: 2rem;
}
.header__contact span,
.header__alert-news,
.header__top-action
{
    font-size: var(--small-font-size);
}

.header__alert-news
{
    color: var(--color-texto-light);
    font-weight: var(--weight-600);
}
.header__top-action
{
    color: var(--color-texto);
    font-weight: var(--weight-600);
}

.nav,.nav__menu, .nav__list, .header__user-actions
{
    display: flex;
    align-items: center;
}
.nav
{
    height: calc(var(--header-height) + 2.5rem);
    justify-content: space-between;
    column-gap: 1rem;
}
.nav__logo-img
{
    width: 150px;
}
.nav__menu
{
    width: 100%;
    margin-left: 2.5rem;
}

.nav__list
{
    column-gap: 2.5rem;
    margin-right: auto;
}

.nav__link
{
    color: var(--color-titulo);
    font-weight: var(--weight-700);
    transition: all 0.2s var(--transition);
}

.header__search
{
    width: 340px;
    position: relative;
}
.header__search .form__input
{
    width: 100%;
}

.search__btn
{
    position: absolute;
    top: 24%;
    right: 1.25rem;
    cursor: pointer;
}
.header__user-actions
{
    column-gap: 1.25rem;
}
.header__action-btn
{
    position: relative;
}
.header__action-btn img
{
    width: 30px;
}
.header__action-btn .count {
    position: absolute;
    top: -0.625rem;
    right: -0.625rem;
    background-color: var(--color-primario);
    color: var(--color-cuerpo);
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: var(--tiny-font-size);
}
/*Active links*/
.active-link, .nav__link:hover
{
    color: var(--color-primario);
}

/*=====================HOME=======================*/
.home__container
{
    grid-template-columns: 5fr 7fr;
}

.home__subtitle,
.home__title
{
    font-size: var(--large-font-size);
}
.home__subtitle
{
    font-family: var(--color-secundario);
    font-weight: var(--weight-600);
    margin-bottom: 1rem;
    display: block;
}

.home__title
{
    font-size: var(--h1-font-size);
    font-weight: var(--weight-700);
    line-height: 1.4;
}

.home__title span
{
    color: var(--color-primario);
    font-size: var(--big-font-size);
}
.home__description
{
    margin-block: .5rem 2rem;
}
.home__img
{
    justify-self: flex-end;
}

/*Botones*/
.btn
{
    display: inline-block;
    background-color: var(--color-primario);
    border: 2px solir var(--color-primario);
    color: var(--color-cuerpo);
    padding-inline: 1.75rem;
    height: 49px;
    line-height: 49px;
    border-radius: .25rem;
    font-family: var(--fuente-cuerpo);
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
    transition: all 0.4s var(--transition);
}
.btn:hover
{
    background-color: transparent;
    color: var(--color-primario);
}

/*===================CATEGORIES=====================*/
.categories{
    overflow: hidden;
}
.category__item
{
    text-align: center;
    border: 1px solid var(--color-borde);
    padding: .625rem .625rem 1.25rem;
    border-radius: 1.25rem;
}
.category__img
{
    border-radius: .75rem;
    margin-bottom: 1.2rem;
}

.category__title
{
    color: var(--color-texto);
    font-size: var(--small-font-size);
}
/*Swiper class*/
.swiper
{
    overflow: initial;
}
.swiper-button-next::after,
.swiper-button-prev::after
{
    content: '';
}
.swiper-button-next,
.swiper-button-prev
{
    top: -1.875rem;
}

.swiper-button-prev
{
    left:initial;
    right: 2.5rem;
}
/*===================Products====================*/
.tab__btns
{
    display:flex;
    column-gap: .75rem;
}
.tab__btn
{
    background-color: var(--color-contenedor);
    color: var(--color-titulo);
    padding: 1rem 1.25rem .875rem;
    border-radius: .25rem;
    font-family: var(--fuente-secundaria);
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
    cursor: pointer;
}
/* Active tab*/
.tab__btn.active-tab
{
    background-color: var(--color-secundario);
    color: var(--color-primario);
}